# firebase credentials
# API_KEY = AIzaSyBdcYAqgXCzPf8BoFY6XzAxGKZKSBOYMy4
# AUTH_DOMAIN = fir-testing-8aa44.firebaseapp.com
# PROJECT_ID = fir-testing-8aa44
# APP_ID = 1:678561345878:web:f8e8bcd7965398927e66f7
# MESSAGING_SENDER_ID = 678561345878
# STORAGE_BUCKET = fir-testing-8aa44.appspot.com
# MEASUREMENT_ID = G-9SQJ96BJL5      ..    create .env file in root folder and paste the credentials


  apiKey "AIzaSyASX6IwMW047fzCvxwCjHz8mFUpn375bTQ",
  authDomain: "tmu-hostel-leave.firebaseapp.com",
  projectId: "tmu-hostel-leave",
  storageBucket: "tmu-hostel-leave.appspot.com",
  messagingSenderId: "706354092377",
  appId: "1:706354092377:web:fe59239d37f6a4343f1448",
  measurementId: "G-S74SVB9H6Y"


